/* General setup */
/* Remember to always comment*/

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  body {
   font-size: 14px;
   font-family: sans-serif;
   line-height: 25px;
   letter-spacing: 1px;
   word-spacing: 1px;   
  }
  h1 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    letter-spacing: 4px;
  }
  h2 {
    font-family: 'Fjalla One', sans-serif;
  }
  section p {
      text-indent: 20px;
  }
a {
    color: #a66;
}
a:hover {
    color: rgb(78, 47, 47);
    text-decoration: none;
}
a:visited {
    color: rgb(255, 0, 0);
}
a:focus {
    color: rgb(70, 44, 44);
    text-decoration: none;
    outline: none;
}
a:active {
    font-size: larger;
}
ul li {
    list-style-type: square;
}
nav ul {
 background-color: rgba(68, 68, 68, 0.404);
}
nav ul li {
    list-style-type: none;
}
nav li a {
    text-decoration: none;
}